.interest-container {
    color: var(--letter-color);
    text-align: center;
    padding: 2rem;
    @include rwd(l) {
        padding: 2rem 8rem;
    }
}

.interest-grid-container {
    padding: 1.5rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    @include rwd(l){
        flex-direction: row;
    }
}

.interest-select {
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--bg-color2);
    color: var(--letter-color);
}

.interest-item {
    // background-color: aqua;
    padding: 1rem;

}

.interest-note {
    background-color: var(--bg-color2);
    padding: .3rem;
    border-radius: 1rem;
    transition: transform .3s;
    &:hover {
        transform: translateX(.3rem);
    }
}