.video-container {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    & video {
        width: 100%;
    }
}